@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  @media only screen and (max-width: 75em) {
    font-size: 90%;
  }
  @media only screen and (max-width: 56.25em) {
    font-size: 80%;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: 70%;
  }
  @media only screen and (max-width: 25em) {
    font-size: 60%;
  }
  @media only screen and (max-width: 18.75em) {
    font-size: 50%;
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */

.rdp-root {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
  padding-top: 0 !important;
}
.rdp-selected {
  background-color: theme("colors.accent.500");
  border-radius: 50%;
  color: theme("colors.primary.100") !important;
}
.rdp-range_middle {
  color: theme("colors.accent.500") !important;
}
.rdp-dropdown_root {
  border-radius: 5px;
  padding: 0.5rem !important;
  cursor: pointer;
}
.rdp-dropdown_root:has(> .rdp-dropdown:focus) {
  background-color: theme("colors.accent.700");
}
.rdp-dropdown {
  padding: 0.5rem !important;
}
.rdp-dropdown option {
  background-color: theme("colors.primary.950");
  color: theme("colors.primary.100");
}
.rdp-dropdown option:disabled {
  color: gray;
}
.rdp-months {
  justify-content: center;
}

.calendar .rdp-day_button {
  pointer-events: none;
}
